tests/xsd-examples/xsd/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:simple-schema="https://simple.example.com/"
		targetNamespace="https://simple.example.com/"
		elementFormDefault="qualified">
	<xsd:element name="myelement" type="simple-schema:MyElementType" />
	<xsd:complexType name="MyElementType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:integer" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
